.topic{
    width: 100%; 
    text-align: center;
    padding: 10px 0px;
    position: relative;
    color: var(--textColor);
}

.back{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.back:hover{
    color: rgb(89, 83, 83);
}