.bodyBlog:hover{
    background-color: rgb(208, 208, 208);
}

.bodyBlog{
    display: flex;
    background-color: white;
    color: black;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    height: 200px;
}

.imageBody{
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.imagePreview{
    border-radius: 20px;
    object-fit: contain;
}

.btnPreview{
    border: 1px solid red;
    background-color: red;
    max-width: fit-content;
    border-radius: 10px;
    padding: 2px 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.textBody{
    flex: 2;
    padding: 10px;
}

.topic{
    color: black;
    font-weight: bold;
}

.author , .date{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 0px;
}

.imageAuthor{
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.content{
    font-size: 15px;
} 

@media screen and (max-width:1024px) {
    .imageBody{
        display: none;
    }
    .bodyBlog{
        height: fit-content;
    }
}

/* 
@media screen and (max-width:780px) {
    .bodyBlog{
        flex-direction: column-reverse;
    } 
} */
